.Ba1 {
  /* background-color: orange; */
  margin: 0px 20px 0px 20px;
  /* padding: 0.4rem 0.75rem; */
  width: 90%;
  border-radius: 15px;
}
.Ba2 {
  /* background-color: blue; */
  margin: 0px 20px 0px 20px;
  /* padding: 0.4rem 0.75rem; */
  width: 90%;

  border-radius: 15px;
}
.Ba3 {
  /* background-color: green; */
  margin: 0px 20px 0px 20px;
  /* padding: 0.4rem 0.75rem; */
  width: 90%;

  border-radius: 15px;
}
.Ba4 {
  /* background-color: red; */
  margin: 0px 20px 0px 20px;
  /* padding: 0.4rem 0.75rem; */
  width: 90%;

  border-radius: 15px;
}
.Ba5 {
  /* background-color: #ffb703; */
  margin: 0px 20px 0px 20px;
  /* padding: 0.4rem 0.75rem; */
  width: 90%;

  border-radius: 15px;
}
.Ba6 {
  /* background-color: white; */
  margin: 0px 20px 0px 20px;
  /* padding: 0.4rem 0.75rem; */
  width: 90%;

  border-radius: 15px;
}
