.Bc1 {
  /* background-color: #970000; */
  margin: 0px 20px 0px 20px;
  /* padding: 0.4rem 0.75rem; */
  width: 90%;
  border-radius: 15px;
}
.Bc2 {
  /* background-color: #f1faee; */
  margin: 0px 20px 0px 20px;
  /* padding: 0.4rem 0.75rem; */
  width: 90%;

  border-radius: 15px;
}
.Bc3 {
  /* background-color: #e7d3a3; */
  margin: 0px 20px 0px 20px;
  /* padding: 0.4rem 0.75rem; */
  width: 90%;

  border-radius: 15px;
}
.Bc4 {
  /* background-color: #ffb703; */
  margin: 0px 20px 0px 20px;
  /* padding: 0.4rem 0.75rem; */
  width: 90%;

  border-radius: 15px;
}
