.Bd1 {
  /* background-color: orange; */
  margin: 0px 20px 0px 20px;
  /* padding: 0.4rem 0.75rem; */
  width: 90%;
  border-radius: 15px;
}
.Bd2 {
  /* background-color: rgb(8, 22, 124); */
  margin: 0px 20px 0px 20px;
  /* padding: 0.4rem 0.75rem; */
  width: 90%;

  border-radius: 15px;
}
.Bd3 {
  /* background-color: white; */
  margin: 0px 20px 0px 20px;
  /* padding: 0.4rem 0.75rem; */
  width: 90%;

  border-radius: 15px;
}
.Bd4 {
  /* background-color: "lllklmk"; */
  margin: 0px 20px 0px 20px;
  /* padding: 0.4rem 0.75rem; */
  width: 90%;

  border-radius: 15px;
}
.Bd5 {
  /* background-color: #840202; */
  margin: 0px 20px 0px 20px;
  /* padding: 0.4rem 0.75rem; */
  width: 90%;

  border-radius: 15px;
}
