.Bs1 {
  margin: 0px 20px 0px 20px;
  /* padding: 0.4rem 0.75rem; */
  width: 90%;
  border-radius: 15px;
}
.Bs2 {
  margin: 0px 20px 0px 20px;
  /* padding: 0.4rem 0.75rem; */
  width: 100%;

  border-radius: 15px;
}
.Bs3 {
  margin: 0px 20px 0px 20px;
  /* padding: 0.4rem 0.75rem; */
  width: 90%;

  border-radius: 15px;
}
.Bs4 {
  margin: 0px 20px 0px 20px;
  /* padding: 0.4rem 0.75rem; */
  width: 90%;

  border-radius: 15px;
}
.Bs5 {
  margin: 0px 20px 0px 20px;
  /* padding: 0.4rem 0.75rem; */
  width: 90%;

  border-radius: 15px;
}
